export PATH=$PATH:/doc/work/data/RIWO/onnx_cpp/build/linux/x86_64/release

#export_alias 1 "xmake run detector opencv"

1() {
	echo "xmake run detector opencv"
	xmake run detector opencv
}
export_function 1

2() {
	echo "xmake run detector onnx"
	xmake run detector onnx
}
export_function 2

3() {
	echo "xmake run detector torch"
	xmake run detector torch
}
export_function 3
